<app-adminheader></app-adminheader>
<div class="container">


    <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
        <div>
            <label for="username" class="form-label">Username: <span class="text-danger">*</span></label>
            <input type="text" id="username" formControlName="username">
        </div>
        <div>
            <label for="oldPassword" class="form-label">Old Password: <span class="text-danger">*</span></label>
            <input type="password" id="oldPassword" formControlName="oldPassword">
        </div>
        <div>
            <label for="newPassword" class="form-label">New Password: <span class="text-danger">*</span></label>
            <input type="password" id="newPassword" formControlName="newPassword">
        </div>
        <button type="submit" [disabled]="!passwordForm.valid">Update Password</button>
        <p>
            <span class="required">*</span>Required field
        </p>
    </form>
</div>