<!-- <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header"> Login</div>
                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                        <div class="mb-3">
                            <label for="userName" class="form-label">Username <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="userName" formControlName="userName">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
                            <input type="password" class="form-control" id="password" formControlName="password">
                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="loading">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                                aria-hidden="true"></span>
                            <span *ngIf="!loading">Login</span>
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->
<section class="vh-100" style="background-color: #009FBD;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <!-- <img src=".app/src/assets/content3.png" -->
                <img src="assets/content3.png" 
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; margin-top: 150px;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">Logo</span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
  
                    <div class="form-outline mb-4">
                      <input type="userName" id="userName" class="form-control form-control-lg" formControlName="userName"/>
                      <label class="form-label" for="form2Example17">Username</label>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password" id="Password" class="form-control form-control-lg" formControlName="password"/>
                      <label class="form-label" for="form2Example27">Password</label>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <!-- <button class="btn btn-dark btn-lg btn-block" type="button">Login</button> -->
                      <button type="submit" class="btn btn-primary btn-block" [disabled]="loading">Login</button>
                    </div>
  
                   
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="/register"
                        style="color: #393f81;">Register here</a></p>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>