<!-- <mat-card class="mat-card">
    <mat-card-content>
        <p><strong>Employee Id:</strong> {{ data.employeeId }}</p>
        <p><strong>First Name:</strong> {{ data.employeeFirstName }}</p>
        <p><strong>Last Name:</strong> {{ data.employeeLastName }}</p>
        <p><strong>Phone:</strong>{{data.phone}}</p>
    </mat-card-content>
</mat-card> -->
<mat-card class="mat-card">
    <mat-card-content>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="employeeId">Employee ID: <span class="text-danger">*</span></label>
                <input type="text" id="employeeId" [(ngModel)]="employeeId" name="employeeId" class="form-control"
                    disabled>
            </div>

            <div class="form-group">
                <label for="employeeFirstName">First Name: <span class="text-danger">*</span></label>
                <input type="text" id="employeeFirstName" [(ngModel)]="employeeFirstName" name="employeeFirstName"
                    class="form-control" disabled>
            </div>

            <div class="form-group">
                <label for="employeeLastName">Last Name: <span class="text-danger">*</span></label>
                <input type="text" id="employeeLastName" [(ngModel)]="employeeLastName" name="employeeLastName"
                    class="form-control">
            </div>

            <div class="form-group">
                <label for="phone">Phone: <span class="text-danger">*</span></label>
                <input type="text" id="phone" [(ngModel)]="phone" name="phone" class="form-control">
            </div>

            <div class="form-group">
                <label for="email">Email: <span class="text-danger">*</span></label>
                <input type="text" id="email" [(ngModel)]="email" name="email" class="form-control">
            </div>

            <div class="form-group">
                <label for="salary">Salary: <span class="text-danger">*</span></label>
                <input type="text" id="salary" [(ngModel)]="salary" name="salary" class="form-control" disabled>
            </div>

            <!-- <div class="form-group">
                <label for="userId">User ID: <span class="text-danger">*</span></label>
                <input type="text" id="userId" [(ngModel)]="userId" name="userId" class="form-control" disabled>
            </div> -->

            <button type="submit" class="btn btn-primary">Save</button>
            <p>
                <span class="required">*</span>Required field
            </p>
        </form>
    </mat-card-content>
</mat-card>