<!-- <div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="my-login-form">
        <div class="form-group">
            <label for="userName" class="form-label">Username <span class="text-danger">*</span></label>
            <input type="text" class="form-control" id="userName" placeholder="Username" formControlName="userName">
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
            <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
        </div>
        <button type="submit" class="btn btn-primary btn-block" [disabled]="loading">Employee Login</button>
    <p>
                        <span class="required">*</span>Required field
                      </p>
                </form>
    <div *ngIf="loading" class="spinner-container">
       
        <mat-spinner diameter="30" color="primary"></mat-spinner>
    </div>
</div> -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Employee Login</div>
                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                        <div class="mb-3">
                            <label for="userName" class="form-label">Username <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="userName" formControlName="userName">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
                            <input type="password" class="form-control" id="password" formControlName="password">
                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="loading">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                                aria-hidden="true"></span>
                            <span *ngIf="!loading">Login</span>
                        </button>
                        <p>
                            <span class="required">*</span>Required field
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>