<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->

        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample" aria-expanded="true" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!-- Profile icon -->


                <li class="nav-item">
                    <a class="nav-link" href="#"> <mat-icon aria-hidden="false" aria-label="Example home icon"
                            type="button" fontIcon="home" href="#"></mat-icon></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Insurance Plan
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li *ngFor="let plan of iPlans; let i=index"><button class="dropdown-item "
                                (click)="showSchemes(i)">{{plan.planName}}</button></li>
                    </ul>
                    <!-- Add "Register Customer" link -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/agent/register/customer">
                        Register Customer
                    </a>
                </li>


            </ul>

            <!-- Left links -->

            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <button type="button" class="btn btn-primary me-3" (click)="showUserProfile()">
                        <i class="fas fa-user"></i>
                    </button>
                </div>

                <button type="button" class="btn btn-primary me-3" (click)="logout()">
                    Logout
                </button>
                <ul class="no-bullets">
                    <li><a routerLink="/password"><i class="no-bullets" class="fas fa-key fa-2x custom-tooltip"
                                title="Change Password"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let card of cards">
            <div class="card mb-4" [routerLink]="card.route">
                <div class="card-body">
                    <!-- <i class="fa {{ card.icon }}"></i> -->
                    <img src="{{ card.icon }}" alt="{{ card.title }}" width="184" height="184"> 
                    <h5 class="card-title">{{ card.title }}</h5>

                </div>
            </div>
        </div>
    </div>
</div>


<!--                                 -->