<div class="container-fulid">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Insurance Plan</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addPlan"
                    type="submit">Add Plan</button>
            </div>
        </div>
    </nav>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">PlanId</th>
                <th scope="col">PlanName</th>

                <th scope="col">View More</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let plan of planList">
                <td>{{plan.planId}}</td>
                <td>{{plan.planName}}</td>

                <td>
                    <!-- <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal"
                        data-bs-target="#editPlan" (click)="editPlan(plan)">Edit</button> -->
                    <button type="button" class="btn btn-primary" routerLink="/insuranceScheme">View Scheme</button>

                </td>
            </tr>
        </tbody>
    </table>

    <!-- ADD PLan -->
    <div class="modal fade" id="addPlan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title fs-5" id="exampleModalLabel">Add New InsurancePlan</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="planDetail">
                        <!-- <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">PlanId <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="planId" id="planId"
                                aria-describedby="emailHelp">
                        </div> -->
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">PlanName <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="planName" id="planName"
                                aria-describedby="emailHelp">
                            <div
                                *ngIf="planDetail.controls['planName'].errors && (planDetail.controls['planName'].dirty || planDetail.controls['planName'].touched)">
                                <div class="alert alert-danger"
                                    *ngIf="planDetail.controls['planName'].hasError('required')">Plan Name is required.
                                </div>
                                <div class="alert alert-danger"
                                    *ngIf="planDetail.controls['planName'].hasError('pattern')">Plan Name should only
                                    contain letters.</div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-outline-success" (click)="addInsurancePlan()">Add
                                    Plan</button>
                            </div>

                        </div>
                        <p>
                            <span class="required">*</span>Required field
                        </p>
                    </form>


                </div>
            </div>
        </div>
    </div>



    <!-- edit plan -->
    <div class="modal fade" id="editPlan" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="exampleModalLabel">Edit Plan Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="planDetail">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">PlanId <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="planId" id="planId"
                                aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">PlanName <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="planName" id="planName"
                                aria-describedby="emailHelp">
                            <div
                                *ngIf="planDetail.controls['planName'].errors && (planDetail.controls['planName'].dirty || planDetail.controls['planName'].touched)">
                                <div class="alert alert-danger"
                                    *ngIf="planDetail.controls['planName'].hasError('required')">Plan Name is required.
                                </div>
                                <div class="alert alert-danger"
                                    *ngIf="planDetail.controls['planName'].hasError('pattern')">Plan Name should only
                                    contain letters.</div>
                            </div>
                        </div>

                        <!-- <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Status <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="status" id="status"
                                aria-describedby="emailHelp">
                        </div> -->
                        <div class="mb-3">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-outline-success" (click)="updatePlan()"
                                    data-bs-dismiss="modal">UpdatePlan</button>
                            </div>

                        </div>
                        <p>
                            <span class="required">*</span>Required field
                        </p>
                    </form>
                </div>

            </div>
        </div>
    </div>



</div>